<ng-container *ngIf="type_user==='parent'">
<section class="h-custom gradient-custom-2 d-flex justify-content-center mb-5">
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="back d-flex justify-content-end">
          <button routerLink="/dashboard/Children">
            رجوع<i class="bi bi-arrow-return-left"></i>
          </button>
        </div>
        <div
          class="card card-registration card-registration-2 p-2"
          style=" height: 570px"
        >
          <h3 class="fw-normal mb-4 mt-4 text-center" style="color: #588adb">
            بحث عن الطفل
          </h3>
          <h6 class="fw-normal mb-4 text-center" style="color: #7d7d7d">
            لإجراء إختبار اختر طفل من القائمة أو اضغط على إضافة طفل لتسجيل طفل
            جديد
          </h6>

          <div class="child-contain">
            <h6
              *ngIf="numberItems == 0"
              class="fw-normal mb-4 text-center mt-5"
              style="color: #fe6e6e"
            >
              لم يتم ادخال اي طفل من قبل المعلم بعد
            </h6>
            <div
              *ngFor="let patient of result; let i = index"
              (click)="saveItem(patient)"
              class="detailchild card d-flex flex-row col-6 mb-3 ml-1 p-2"
            style="cursor: pointer;">
              <img src="assets/img/pngwing.com.png" class="col-1 img-fluid" alt="" width="50"/>
              <div class="col-4 d-flex justify-content-center align-items-center">
                <p>{{ patient.name + " " + patient.family_name }}</p>
              </div>
            </div>
          </div>
          <div class="next d-flex justify-content-end mt-3 ml-5">
            <div class="addchild d-flex justify-content-end">
              <button  [routerLink]='["/public/add_child/Tdah"]'
                class="btnaddchild d-flex justify-content-center py-1" >اضافة طفل <i class="bi bi-person-plus mr-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</ng-container>

<ng-container *ngIf="type_user === 'teacher'">
  <section class="h-custom gradient-custom-2 d-flex justify-content-center mb-5">
    <div class="container py-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="back d-flex justify-content-end">
            <button routerLink="/dashboard/Children">
              رجوع<i class="bi bi-arrow-return-left"></i>
            </button>
          </div>
          <div class="card card-registration card-registration-2 p-3">
            <h3 class="fw-normal mb-4 mt-3 text-center" style="color: #588adb">
              بحث عن الطفل
            </h3>

            <form [formGroup]="formGroup">
              <div class="d-flex flex-row text-justify">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="form3Examplev2">رقم بطاقة التعريف الوطنية للولي</label>
                  <div class="d-flex">
                    <input type="text" id="form3Examplev2" class="form-control form-control-lg"
                      formControlName="login_number" id="login_number" />
                    <div class="searchbtn">
                      <button type="button" (click)="submit()">
                        بحث<i class="bi bi-search mr-2"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="fw-normal mb-4 text-center" style="color: #7d7d7d">
                لإجراء إختبار اختر طفل من القائمة أو اضغط على إضافة طفل لتسجيل
                طفل جديد
              </h6>

              <div class="child-contain">
                <div *ngIf="loaded" class="d-flex flex-row">
                  <p>إسم ولقب الولي :</p>
                  <p class="mx-2">
                    {{ datasearch?.parent.name  + " " +datasearch?.parent.profile.family_name}}
                  </p>

                </div>
                <p *ngIf="!validated" class="alert alert-danger">{{error}}</p>
                <div class="child-list-contain">
                  <h6 *ngIf="item == 0" class="text-center" style="color: #fe6e6e">
                    لم يتم ادخال اي طفل من قبل هذا الولي بعد
                  </h6>

                  <div class="col-6">
                    <div *ngFor="let child of datasearch?.patients" (click)="saveItem(child)"
                      class="detailchild card d-flex flex-row mb-3 align-items-center justify-content-center p-1">
                      <div class="col-1">
                        <img src="assets/img/pngwing.com.png" class="img-fluid" alt="" width="50" />
                      </div>
                      <div class="col-5 mt-2 d-flex justify-content-center align-items-center">
                        <p class="">{{ child.name }}</p>
                      </div>
                      <div class="col-6">
                        <p style="font-size: 15px; color: red" *ngIf="child.score_teacher != 0">
                          تم إدخال الطفل بواسطة مربي من قبل
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="next d-flex justify-content-end ml-5 mt-3">
              <div class="addchild d-flex justify-content-end">
                <button  [routerLink]='["/public/add_child/Tdah"]' class="btnaddchild d-flex justify-content-center py-1">
                  اضافة طفل <i class="bi bi-person-plus mr-2"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
