<ng-container *ngIf="type_user==='parent'|| (type_user==='doctor' && type_user==='doctor')">
<div class="continue">
  <div class="d-flex ">
    <div class="listchild container-fluid d-flex justify-content-center ">
      <img class="espacekids img-fluid" src="assets/img/espace kids final.png">
      <h3>قائمة <span style="color: #57CFDE;">الأطفال  </span></h3>
    </div>
  </div>
  <div class="navandlistchild  row ">
    <div class="navcard card ">
      <a routerLink="/dashboard/Children" class="nav-link"><i class="bi bi-list-nested"></i>قائمة الاطفال</a>
      <a *ngIf="type_user==='parent'" routerLink="/dashboard/consultation" class="nav-link"><i class="bi bi-calendar-event"></i> جدول المواعيد</a>
    </div>
    <div class="cardchildliste card card-body ">
      <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-tdah-tab"data-bs-toggle="tab"
                  data-bs-target="#nav-tdah" type="button" role="tab" aria-controls="nav-tdah" aria-selected="true" (click)="getTDAH()">
            إختبارات اضطراب تشتت الانتباه و فرط الحركة
          </button>
          <button class="nav-link" id="nav-profile-tab"  data-bs-toggle="tab"
                  data-bs-target="#nav-autism" type="button" role="tab" aria-controls="nav-autism"  (click)="getautiste()"
                  aria-selected="false">إختبارات التوحد
          </button>
        </div>
      </nav>
      <div class=" mt-2">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-tdah" role="tabpanel" aria-labelledby="nav-tdah-tab">
            <div class="addchild d-flex justify-content-end mb-2">
              <button [routerLink]='["/public/choose_child" ]'class=" btnaddchild d-flex justify-content-center py-1">اضافة طفل <i
                class="bi bi-person-plus"></i></button>
            </div>
            <div class="detailschild ">
              <div *ngIf="!spinner" class="d-flex justify-content-center align-items-center mt-5">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>

              <ng-container *ngIf="type_user==='parent'" >
              <p class="d-flex justify-content-center mt-5 text-danger  " *ngIf="result.length === 0">ليس هناك أي أطفال
                مسجلين إضغط على إضافة طفل لإدخال طفل جديد</p>
              </ng-container>
              <div *ngFor="let patient of result" class="detailchild card d-flex flex-row flex-nowrap">
                <div class="profilephoto col-1">
                  <img src="assets/img/pngwing.com.png" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="col-3">
                  <p class="head">الإسم و اللقب</p>
                  <p class="underhead">{{patient.name + ' ' + patient.family_name}}</p>
                </div>
                <div class="col-3">
                  <p class="head">تاريخ الولادة</p>
                  <p class="underhead">{{patient.birthdate }}</p>
                </div>
                <div class="col-4">
                  <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-link" >
                      <i *ngIf="patient.saved==false"
                         class="bi bi-person-exclamation text-danger" style=" font-size: 30px; cursor: pointer;"></i>
                      <i *ngIf="patient.saved==true && patient.supervisor === undefined"
                         [routerLink]='["/childprofile" , patient.id ]' class="bi bi-person-exclamation text-danger"
                         style=" font-size: 30px; cursor: pointer;"></i>
                      <i *ngIf=" patient.supervisor !== null &&  patient.sick === true " class="bi bi-person-check text-success"
                         style=" font-size: 30px; cursor: pointer;"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
<!--autism-->
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show " id="nav-autism" role="tabpanel" aria-labelledby="nav-autism-tab">
    <div class="addchild d-flex justify-content-end mb-2">
      <button [routerLink]='["/public/info_test/Autism"]' class=" btnaddchild d-flex justify-content-center py-1">اضافة طفل <i
        class="bi bi-person-plus"></i></button>
    </div>
    <div class="detailschild ">
      <div *ngIf="!spinner" class="d-flex justify-content-center align-items-center mt-5">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>

      <ng-container *ngIf="type_user==='parent'" >
      <p class="d-flex justify-content-center mt-5 text-danger  " *ngIf="result.length === 0">ليس هناك أي أطفال
        مسجلين إضغط على إضافة طفل لإدخال طفل جديد</p>
      </ng-container>
      <div *ngFor="let patient of result" class="detailchild card d-flex flex-row flex-nowrap">
        <div class="profilephoto col-1">
          <img src="assets/img/pngwing.com.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-3">
          <p class="head">الإسم و اللقب</p>
          <p class="underhead">{{patient.name + ' ' + patient.family_name}}</p>
        </div>
        <div class="col-3">
          <p class="head">تاريخ الولادة</p>
          <p class="underhead">{{patient.birthdate }}</p>
        </div>
        <div class="col-4 ">
          <div class=" d-flex align-items-center justify-content-end">
            <a class="btn btn-link" [routerLink]='["/shared/Profile/autism",patient.id]'>
              <i *ngIf="patient.saved==false"
                 class="bi bi-person-exclamation text-danger" style=" font-size: 30px; cursor: pointer;"></i>
              <i *ngIf="patient.saved==true && patient.supervisor == undefined"
                 [routerLink]='["/childprofile" , patient.id ]' class="bi bi-person-exclamation text-danger"
                 style=" font-size: 30px; cursor: pointer;"></i>
              <i *ngIf=" patient.supervisor !== null &&  patient.sick === true " class="bi bi-person-check text-success"
                 style=" font-size: 30px; cursor: pointer;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>
</div>
</ng-container>
