<section class="mb-5">
  <div class="part1 container-fluid mb-5" >
      <div class="col-12 px-0 ">
        <img class="img-fluid mx-auto d-block" src="assets/img/landing about us.png" height="300" width="200">
      </div>
    </div>

<!--part2-->
<h2 class="d-flex justify-content-center mb-5">من نحن؟</h2>
<div class="d-flex justify-content-center">
<div class="about card mb-3 d-flex p-2 " style="max-width: 1100px;">
  <div class="row ">
    <div class="col-md-4 d-flex mx-auto">
      <img src="assets/img/about us.png" class="card-img " alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body mt-3 ">
      <ul class="d-flex flex-column p-5">
        <li><p class="card-text mb-3">نحن فريق متكون من أطباء نفسيين للأطفال و اخصائيين نفسيين بتونس والجزائر </p></li>
      <li><p class="card-text mb-3">يجري فريقنا تقصيا مبكرا للإضطرابات النمائية لدى الاطفال من سن سنة واحدة إلى 17 سنة  لهدف التدخل المبكر و العلاج</p></li>
      </ul>
      </div>
    </div>
  </div>
</div>
</div>
</section>
