.back button {
  background-color: #43A7DF;
  color: white ;
  transition: 0.3s;
  margin-bottom: 10px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.back button:hover{
  color: white;
  background: #3178a1;
}
.back  button  i.bi{
margin-right: 5px;
}


.next{
  margin-left: 20px;
  margin-bottom: 20px;
}
.next button {
  background-color: #43A7DF;
  color: white ;
  transition: 0.3s;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.next button:hover{
  color: white;
  background: #3178a1;
}
.card{
  padding: 20px;
}


