

<section class=" h-custom gradient-custom-2 d-flex justify-content-center mb-5" >

  <div class="container py-3" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="back d-flex justify-content-end ">
          <button routerLink="/choicetest" >رجوع<i class="bi bi-arrow-return-left"></i></button>
        </div>
        <div class="card card-registration card-registration-2 px-5" >

              <h3 class="fw-normal mb-4 mt-4 text-center" style="color: #588ADB;">دليل لإجراء اختبار</h3>







<div class="child-contain mt-5"  >
  <ul class="d-flex flex-column ">
    <li><p class="card-text mb-3">هذا الاختبار يحتوي على 20 تمرين </p></li>
    <li><p class="card-text mb-3">قم بتطبيق هذه التمارين المطلوبة على الطفل مرتين المرة الأولى من طرف الام ثم الاب</p></li>
    <li><p class="card-text mb-3">في حال عدم الاستجابة يكرر كل تمرين ثلاث مرات فقط بين كل مرة ومرة خمس ثواني</p></li>
    <li><p class="card-text mb-3">بناء على نتائج الاستبيان تسند إلى الطفل حالة من هذه الحالات الثلاث : </p></li>
    <ul class="d-flex flex-column ">
      <li><p class="card-text mb-3">اذا كان لا يحمل اعراض : ليس هناك ما يدعو للقلق إعادة الاختبار كل ستة اشهر اذا كان سن الطفل سنة</p></li>
      <li><p class="card-text mb-3">اذا كان قد يحمل بعض اعراض : يجب الذهاب الى المرحلة الثانية من الاستبيان (تعميق التحري ) </p></li>
      <li><p class="card-text mb-3">اذا كان يحمل بعض اعراض : يجب مباشرة إجراءات التشخيص والتكفل المبكر</p></li>
    </ul>
  </ul>
</div>


<div class="next d-flex justify-content-end ">
  <button type="button" [routerLink]='["/public/add_child/Autism"]'>التالي<i class="bi bi-caret-left-fill mr-1"></i></button>
</div>
            </div>
          </div>
        </div>
      </div>


</section>
