<section class="mb-5">
  <div class="part1 container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h3 class="mt-5">  إختباراتنا</h3>
      <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn1 px-3" (click)="seturl()">
          قم بإجراء اختبار الآن
        </button>
        <button
          type="button"
          class="btn2 py-2 px-3"
          style="vertical-align: middle"
        >
          اضغط لمعرفةالمزيد<span></span>
        </button>
      </div>
    </div>
    <img
      class="img-fluid"
      src="assets/img/dotest.png"
      height="400"
      width="300"
    />
  </div>
  <div class="container">
    <!--part2-->
    <h2 class="d-flex justify-content-center mb-5 mt-5">للمشاركة</h2>
    <div class="d-flex justify-content-center">
      <div class="do card mb-3 d-flex p-2" style="max-width: 1100px">
        <div class="row">
          <div class="col-md-4 d-flex mx-auto">
            <img src="assets/img/q.jpeg" class="card-img" alt="" height="300" />
          </div>
          <div class="col-md-8">
            <div class="card-body mt-3 d-flex flex-column p-5">
              <h5 class="card-title mb-4">
                إختبارات اضطراب تشتت الانتباه و فرط الحركة
              </h5>
              <p class="card-text mb-3">
                يُمَكِّنُ تقصي اضطراب تشتت الانتباه و فرط الحركة على مرحلتين:
              </p>
              <p class="card-text mb-3">
                1. تعمير استبيان من طرف الولي والمربي يصف سلوك الطفل ويمكن من
                تحديد امكانية وجود الاضطراب لديه.
              </p>
              <p class="card-text mb-3">
                2. في حالة أظهر الاستبيان امكانية وجود الاضطراب لدى الطفل يقع
                فحصه من طرف طبيب نفسي للأطفال للتأكد من تشخيص الاضطراب و كذلك
                للمتابعة و العلاج و سيقع هذا الفحص داخل روضته.
              </p>
              <ul>
                <li>
                  <p class="card-text mb-3">
                    كل مراحل التقصي ثم التشخيص مجانية.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="do card mb-3 d-flex p-2" style="max-width: 1100px">
        <div class="row">
          <div class="col-md-4 d-flex mx-auto">
            <img src="assets/img/qq.gif" class="card-img" alt="" height="300" />
          </div>
          <div class="col-md-8">
            <div class="card-body mt-3 d-flex flex-column p-5">
              <h5 class="card-title mb-4">إختبارات التوحد</h5>
              <p class="card-text mb-3">
                يُمَكِّنُ تقصي وجود أعراض التوحد على مرحلتين:
              </p>
              <p class="card-text mb-3">
                1. تعمير استبيان مرتين المرة الأولى من طرف الام ثم الاب يصف
                طبيعة الطفل ويمكن من تحديد امكانية وجود التوحد
              </p>
              <p class="card-text mb-3">
                2. في حالة أظهر الاستبيان امكانية وجود الاضطراب لدى الطفل يقع
                فحصه من طرف طبيب نفسي للأطفال للتأكد من تشخيص الاضطراب و كذلك
                للمتابعة و العلاج .
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
