<section class=" h-custom gradient-custom-2 d-flex justify-content-center mb-5">
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card-registration card-registration-2" style="border-radius: 30px;">

          <h3 class="fw-normal mb-4 mt-4 text-center" style="color: #588ADB;">إستبيان خاص بالأولياء</h3>
          <h6 class="mb-4 mt-4 text-center">هذا الإستبيان يحتوي على 4 صفحات </h6>

          <div class="container"  (ngSubmit)="submit($event)" [formGroup]="formGroup" id="form">
            <h6 class="text-secondary mt-5">في حال عدم الاستجابة يكرر كل تمرين ثلاث مرات فقط بين كل مرة ومرة خمس
              ثواني</h6>
            <h6 class="text-secondary">اذا كانت الاجابة محيرة إختر السلوك الغالب على الطفل في معظم الأوقات :</h6>

            <div class="question card  d-flex flex-column mb-3" *ngFor="let question of questions,let i = index">
              <div class=" mb-2 text-primary">
                {{question.id + '- ' + question.label }}
              </div>
              <div class="row d-flex justify-content-around mx-1">
                <div class="card col-sm-5  mb-3 mb-md-0 p-2">
                  <p class="text-secondary">اذا كانت ردة فعل الطفل من الامثلة التالية أو ردة فعل اخرى تمثل نجاح التمرين
                    إضغط <span><input class="form-check-input" type="radio" [value]="question.sucesschoices[0].result"
                                      [formControlName]="question.formControlName">
    <label class="form-check-label text-black mr-3">نعم</label> </span></p>
                  <div class=" d-flex flex-row flex-wrap ">

                    <div class=" d-flex flex-row flex-wrap " *ngFor="let sucesschoices of question.sucesschoices">
                      <div *ngFor="let item of sucesschoices.listsucesschoices">
                        <li class="mt-2 mx-2">{{item.choice}}</li>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card col-sm-5  mb-3 mb-md-0 p-2">
                  <p class="text-secondary">اذا كانت ردة فعل الطفل من الامثلة التالية أو ردة فعل اخرى تمثل فشل التمرين
                    إضغط <span><input class="form-check-input" type="radio" [value]="question.failedchoices[0].result"
                                      [formControlName]="question.formControlName">
    <label class="form-check-label text-black mr-3">لا</label> </span></p>
                  <div class=" d-flex flex-row flex-wrap ">
                    <div *ngFor="let failedchoices of question.failedchoices">

                      <div *ngFor="let item of failedchoices.listfailedchoices">
                        <li class=" mt-2 mx-2"> {{item.choice}}</li>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="next d-flex justify-content-end ml-5">
            <button (click)="submit($event)" type="submit" class=" btn-light my-4 ">التالي<i
              class="bi bi-caret-left-fill mr-1"></i></button>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
