.next button {
  background-color: #43A7DF;
  color: white ;
  transition: 0.3s;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.next button:hover{
  color: white;
  background: #3178a1;

}

h6{
color: #006faf;
}
.reponse{
  margin-left: 20px;
  margin-right: 40px;
}
.question
{
  padding: 10px;
}
input:hover
{
  cursor: pointer;
}
