<header >
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-flex p-0">
    <div class="container-fluid align-items-center p-0">
      <a class="navbar-brand d-lg-block d-sm-block">
        <img class="img-fluid" ngSrc="assets/img/efhamni logo vf.png"
             alt="Responsive image" routerLink="/public"
             [height]="125" [width]="200"  style="cursor: pointer;">
      </a>
      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between align-items-lg-center w-100 p-0
 "
           id="navbarText">

        <ul class="navbar-nav mx-auto d-flex justify-content-center align-items-center">
          <li class="nav-item ms-5">
            <a class="nav-link " routerLink="/public">الرئيسية</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" routerLink="/public/Our_test">إجراء اختبار </a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" routerLink="/public/Last_news">أخر المستجدات</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link " tabindex="-1" aria-disabled="true" routerLink="/public/Aboutus">من نحن</a>
          </li>
        </ul>
        <ul class="d-flex mt-3 justify-content-center align-items-center list-unstyled">
          <li class="nav-link d-flex justify-content-center align-items-center text-secondary ms-3" *ngIf="connected">
            <i class="bi bi-person-circle" style="font-size: 25px;"></i>
            <div class="mx-3"><strong>{{family_name + ' '+name}}</strong></div>
            <div class="nav-item dropdown" style="list-style: none;">
              <a class="nav-link " id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false"> <i class="bi bi-caret-down-fill"></i> </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" [routerLink]='["/shared/Profile"]'>الملف الشخصي</a></li>
                <li><a class="dropdown-item" [routerLink]= 'type_user === "parent"? ["/dashboard/Children"]:["/dashboard/Users"]'>فضاء المستعمل</a></li>
                <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">تسجيل الخروج</a></li>
              </ul>
            </div>
          </li>

        </ul>
        <li class="nav-link  d-flex justify-content-center align-items-center ms-3" *ngIf="!connected">
          <a type="button" routerLink="public/Login" class="signbtn  px-3 py-2">تسجيل الدخول </a>
        </li>
      </div>
    </div>
  </nav>
</header>
<main>

<router-outlet></router-outlet>

</main>
<footer *ngIf="router.url=='/public' " class="footer-48201 mt-5">
  <div class="container ">
    <div class="footerrow ">


      <div class=" logo link-unstyled ">
        <h3 href="#" class="footer-site-logo d-block">إفهمني</h3>

      </div>
      <div class="">
        <ul class="nav-links">
          <li class="list-unstyled">خدماتنا</li>
          <li><a style="cursor: pointer;"> تقصي الاضطرابات النمائية</a></li>
          <li><a style="cursor: pointer;">تتبع الطفل في مختلف مراحل العلاج</a></li>
          <li><a style="cursor: pointer;"> أخر المستجدات على الإضطرابات</a></li>
        </ul>
      </div>
      <div class="">
        <ul class="list-unstyled nav-links">
          <li>اتصل بنا</li>
          <li><i class="bi bi-envelope-at-fill "></i>azizou@inclusionneurodiversite.com</li>
          <li><i class="bi bi-telephone"></i>49 62 61 662 213+</li>

        </ul>

      </div>

    </div>

  </div>

</footer>
