<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-flex p-0">
    <div class="container-fluid align-items-center p-0">
      <a class="navbar-brand d-lg-none d-sm-block">
        <img class="" ngSrc="assets/img/efhamni logo vf.png"
             alt="Responsive image"
             [height]="200" [width]="300" style="cursor: pointer;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between align-items-lg-center w-100 p-0"
           id="navbarText">
        <a class="d-lg-block d-none">
          <img class="img-fluid" ngSrc="assets/img/efhamni_logo.png" alt="Responsive image"
               [height]="125" [width]="200" style="cursor: pointer;" priority="auto">
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ms-5">
            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link">إجراء اختبار </a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link">أخر المستجدات</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link " tabindex="-1" aria-disabled="true">من نحن</a>
          </li>
        </ul>
        <ul class="d-flex mt-auto list-unstyled">
          <li class="nav-link d-flex justify-content-around align-items-center " *ngIf="connected">
            <i class="bi bi-person-circle" style="font-size: 25px;"></i>
            <div class="mx-3"><strong>ala mesfar</strong></div>
            <div class="nav-item dropdown" style="list-style: none;">
              <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false"> <i class="bi bi-caret-down-fill"></i> </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">الملف الشخصي</a></li>
                <li><a class="dropdown-item" href="#">فضاء المستعمل</a></li>
                <li><a class="dropdown-item" href="#">تسجيل الخروج</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-link ms-2">
            <a type="button" class="signbtn  px-3 py-2">تسجيل الدخول </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>

</main>
<footer class="footer-48201 mt-5">
  <div class="container ">
    <div class="footerrow ">


      <div class=" logo link-unstyled ">
        <h3 href="#" class="footer-site-logo d-block">إفهمني</h3>

      </div>
      <div class="">
        <ul class="nav-links">
          <li class="list-unstyled">خدماتنا</li>
          <li><a style="cursor: pointer;"> تقصي الاضطرابات النمائية</a></li>
          <li><a style="cursor: pointer;">تتبع الطفل في مختلف مراحل العلاج</a></li>
          <li><a style="cursor: pointer;"> أخر المستجدات على الإضطرابات</a></li>
        </ul>
      </div>
      <div class="">
        <ul class="list-unstyled nav-links">
          <li>اتصل بنا</li>
          <li><i class="bi bi-envelope-at-fill "></i>azizou@inclusionneurodiversite.com</li>
          <li><i class="bi bi-telephone"></i>49 62 61 662 213+</li>

        </ul>

      </div>

    </div>

  </div>

</footer>
