
<div class="container mt-5" style="margin-bottom: 50px;">
  <div class="back d-flex justify-content-end ">
    <button routerLink="/public" >رجوع<i class="bi bi-arrow-return-left"></i></button>
  </div>
  <div class="card border-0 card-0">
    <div class="card profile py-1 px-3">
      <div class="text-center">
          <img src="assets\img\Online test-amico.svg" class="img-fluid profile-pic">
      </div>
  </div>
  <div>
  <h5 class="content mt-5">يُمَكِّنُ تقصي اضطراب تشتت الانتباه و فرط الحركة على مرحلتين:  </h5>
  <div class="info col-md-8 mt-2">
<p>1. تعمير استبيان من طرف الولي والمربي يصف سلوك الطفل ويمكن من تحديد امكانية وجود الاضطراب لديه.</p>
<p>2. في حالة أظهر الاستبيان امكانية وجود الاضطراب لدى الطفل يقع فحصه من طرف طبيب نفسي للأطفال للتأكد من تشخيص الاضطراب و كذلك للمتابعة و العلاج  .</p>
</div>
</div>
</div>
</div>
<div class="part3">
  <div class="titlesec1"><h3>ما هو إضطراب النقص في التركيز و فرط الحركة أي الTDAH ؟</h3></div>
  <div class="sec1">
<div class="trap"></div>
<a href=""><img src="assets/img/1.png" alt=""></a>
<p class="card-textsect1 text-justify">إن اضطراب النقص في التركيز و فرط الحركة من أكثر الإضطربات السلوكية إنتشارا بين الأطفال و المراهقين, يتّصف باﻷعراض الرّئيسيّة التالية: كثرة الحركة,اﻹندفاع و النقص في التركيز.
<br>  كثرة الحركة :
   يجد صعوبة في الّلعب بهدوء. يجد صعوبة في ملازمة مكانه. دائم الحركة. يندفع كما لو أنّه مزوّد بمحرّك. يتكلّم بشكل مفرط. يركض مهتاجا وفي أوقات غير مناسبة</p>



</div>


  <div class="titlesec1"><h3>كيف يتم تشخيص الTDAH؟</h3></div>
  <div class="sec2">
<p class="card-textsect2 text-justify">ليس هناك من طريقة ملموسة كاجراء فحص الدم من اجل تشخيص الTDAH , يقوم التشخيص على الإطلاع على سلوك الطفل إستنادا إلى تقارير الأهل و الأساتذة و مقارنته بلائحة من الأعراض المستخدمة رسميا لتشخيص الTDAH . تعرف لائحة المعايير هذه بمعايير التشخيص الّتي نشرتها الجمعيّة الأمريكيّة للأمراض النفسيّةDSM-V. لا يستطيع أحد إجراء التشخيص سوى أخصائي في الTDAH على غرار طبيب نفسي للأطفال أو طبيب يتمتّع بخبرة في هذا المجال
</p>
  <img src="assets/img/2.png" alt="">
  <div class="trap2"></div>
</div>

<div class="titlesec1"><h3>ما هي خطوات تشخيص الTDAH ؟</h3></div>
<div class="sec3">
  <div class="trap"></div>
  <img src="assets/img/3.png" alt="">
  <p class="card-textsect3 text-justify">عندما يعاين الإخاصيّ المريض. سوف يقوم بثلاث خطوات رئيسيّة:
    يبحث الطبيب عن المؤشّرات المهمّة
    يستبعد الحالات المشابهة للTDAH
    من الممكن أن يستخدم أيضا بعض المؤشٌرات لتوجيه التشخيص كأسئلة لإستبيان رأي الأهل و المعلّّمين .</p>
    </div>

    <div class="titlesec1"><h3>أعراض الTDAH كما يلي:</h3></div>
    <div class="sec4">
      <div class="contundersec">
      <div class="undersec">
  <p class="card-texttitlesect4 text-justify">أعراض كثرة الحركة :</p>
  <p class="card-textsect4 text-justify">- يبدي حركات تململ في اليدين أو القدمين أو يتلوى في كرسيه</p>
  <p class="card-textsect4 text-justify">- لديه صعوبة في الجلوس في مقعده عند اللزوم</p>
  <p class="card-textsect4 text-justify">- غالباً ما يركض أو يتسلق في مواقف غير مناسبة</p>
  <p class="card-textsect4 text-justify">- غالباً ما يكون لديه صعوبات عند اللعب أو الانخراط بهدوء ضمن نشاطات ترفيهية</p>
  <p class="card-textsect4 text-justify">- غالباً ما يكون متحفزاً، لا يرتاح للثبات في شيء معين لفترات مطولة</p>
  <p class="card-textsect4 text-justify">- غالباً ما يتحدث بإفراط</p>
</div>
<div class="undersec">
  <p class="card-texttitlesect4 text-justify">أعراض الإندفاع :</p>
  <p class="card-textsect4 text-justify">- يتسّرع بالإجابات قبل اكتمال الأسئلة</p>
  <p class="card-textsect4 text-justify">- غالباً ما يجد صعوبة في انتظار دوره </p>
  <p class="card-textsect4 text-justify">- يقاطع الآخرين أو يتدخل فيما يتكلمون</p>
</div>
</div>
    <img src="assets/img/4.png" alt="">
    <div class="trap4"></div>
  </div>
