.back button {

  background-color: #43A7DF;
  color: white ;
  transition: 0.3s;
  margin-bottom: 10px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.back button:hover{
  color: white;
  background: #3178a1;
}
.back  button  i.bi{
margin-right: 5px;
}



.card-0 {
  color: #000000;
  background: rgb(67,167,223);
  background: linear-gradient(180deg, rgba(67, 166, 223, 0.473) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  margin-left: 70px;
  border-radius: 10px;
  min-height: 250px;
}


.profile {
  color: #000;
  background-color: #008cea20;
  border: 2px solid ;
  border-color: rgba(0, 136, 215, 0.737);
  position: absolute;
  left: -70px;
  top: 10%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.profile-pic {
  width: 200px;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
h5{
  color: #030775;
margin-top: 20px;
margin-right: 20px;
}
.info{

  margin-right: 20px;
color: #000000b7;
}
@media screen and (max-width: 600px) {
  .card-main {
      padding: 50px 10px;
  }

  .card-0 {
      min-height: 432px;
  }

  .profile {
      top: 24%;
  }

  .profile-pic {
      width: 90px;
      height: 90px;
  }


  .content {
      margin-left: 120px;
      margin-right: 50px;
  }


}
/*sec1******/
.titlesec1{
  color: #588ADB;
  text-align: center;
}
.sec1{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sec1 img{
  width: 170px;
  height: 200px;
  margin-top: 50px;

}
.trap {
  width: 20vw;
  height: 20vw;
  rotate: 180deg;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.card-textsect1{
  margin: 70px 150px 0px 200px;
}
/*sec2******/
.sec2{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sec2 img{
  width: 250px;
  height: 250px;
  margin-top: 50px;
}
.card-textsect2{
  margin: 90px 200px 0px 50px;
}
.trap2 {
  position: relative;
  width: 50vw;
  height: 20vw;
  align-items: left;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.sec3{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sec3 img{
  width: 270px;
  height: 200px;
  margin-top: 50px;

}
.sec3 .trap {
  width: 17vw;
  height: 20vw;
  rotate: 180deg;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.card-textsect3{
  margin: 70px 120px 0px 250px;
}
/*sec4******/
.sec4{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sec4 img{
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
.undersec{
  margin-top: 70px;
margin-right: 150px;
margin-left: 20px;
}
.trap4 {
  width: 14vw;
  height: 25vw;
  align-items: left;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
 .card-texttitlesect4{
  color: #030775;
  font-size: 20px;
}
.contundersec{
  display: flex;

}

/**part3**/


@media only screen and (max-width: 900px) {
  .sec1{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec1 img{
    width: 100px;
    height: 130px;
    margin-top: 40px;
  }
  .card-textsect1{
    margin: 30px 70px 0px 100px;
  }

  /*sec2*/
  .sec2{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec2 img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
  .card-textsect2{
    margin: 50px 50px 0px 50px;
  }
  /*sec3*/
  .sec3{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec3 img{
    width: 200px;
    height: 150px;
    margin-top: 10px;

  }
  .card-textsect3{
    margin: 30px 0px 0px 100px;
  }
/*sec4*/

  .sec4{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec4 img{
    width: 150px;
    height: 150px;
    margin-top: 140px;
  }
  .undersec{
    margin-top: 70px;
  margin-right: 50px;

  }
  .card-texttitlesect4{
    color: #030775;
    font-size: 20px;
  }


/*trap*/
  .trap {
    width: 20vw;
    height: 25vw;
    rotate: 180deg;
    -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    background:#0d13d7;
  }
  .trap2 {
    position: relative;
    width: 40vw;
    height: 25vw;
    align-items: left;
    -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    background:#0d13d7;
  }
  .sec3 .trap {
    width: 17vw;
    height: 20vw;
    rotate: 180deg;
    -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    background:#0d13d7;
  }
  .trap4 {
    width: 10vw;
    height: 50vw;
    align-items: left;
    -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    background:#0d13d7;
  }

}

@media only screen and (max-width: 600px) {
  .spes {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .spes .card{
    margin: 10px;
  }

}
@media only screen and (max-width: 400px) {
  .sec1{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec1 img{
 display: none;
  }
  .card-textsect1{
    margin: 30px 30px 0px 20px;
  }

  /*sec2*/
  .sec2{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec2 img{
    display: none;
  }
  .card-textsect2{
    margin: 50px 20px 0px 20px;
  }
  /*sec3*/
  .sec3{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec3 img{
    display: none;

  }
  .card-textsect3{
    margin: 30px 20px 0px 20px;
  }
/*sec4*/

  .sec4{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .sec4 img{
    display: none;
  }
  .undersec{
    margin-top: 50px;
  }
  .card-texttitlesect4{
    color: #030775;
    font-size: 20px;
  }

/*trap*/
.trap {
  margin-top: 10px;
  width: 20vw;
  height: 70vw;
  rotate: 180deg;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.trap2 {
  margin-top: 55px;
  position: relative;
  width: 40vw;
  height: 68vw;
  align-items: left;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.sec3 .trap {
  width: 17vw;
  height: 40vw;
  rotate: 180deg;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}
.trap4 {
  margin-top: 55px;
  width: 10vw;
  height: 155vw;
  align-items: left;
  -webkit-clip-path: polygon(0 0, 0% 100% ,100% 80%,100% 20%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  background:#0d13d7;
}


.contundersec{
  display: flex;
flex-direction: column;
}


}
