

  <!--part 1-->

  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0">
          <img class="img-fluid" src="assets/img/landing page version final.png">
        </div>
      </div>
    </div>
  </header>


  <!--part 1-->

  <!--part 2-->
  <div class="part2">
  <div class="titre">
    <h2 >الإختصاصات</h2>
  </div>
  <div class="spes">
  <div class="card" style="width: 22rem;">
    <img src="assets/img/image doc child.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title text-center text-info">طب الاطفال</h5>
      <p class="card-text text-justify">هو أحد فروع الطب الذي يتعامل مع الرعاية الطبية للأطفال الذين يعانون من مرض حاد أو مزمن ولكن أيضًا خدمات صحية وقائية للأطفال الأصحاء أيضا، و ذلك في كل مرحلة من مراحل النمو سواء مرحلة الرضاعة أو الطفولة أو مرحلة المراهقة</p>

    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <img src="assets/img/image doc brain.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title text-center text-info">الطب النفسي للأطفال</h5>
      <p class="card-text text-justify">هو فرع من فروع الطب النفسي المخصص للأطفال ، منذ الولادة الى سن ال18. ويقوم على دراسة وتشخيص وعلاج والوقاية من الاضطرابات النفسية التي تصيب الاطفال و الشباب</p>

    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <img src="assets/img/image doc gen.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title text-center text-info">الطب العام</h5>
      <p class="card-text text-justify">هو الإلمام الكامل بالأمراض التي تصيب جسم الإنسان والأعراض المصاحبة لهذه الأمراض. و تقوم على تقديم الرعاية الصحية الأولية للمرضى</p>

    </div>
  </div>
  </div>
  </div>
  <!--part 2-->



  <!--part 3-->
  <div class="titre my-4 ">
    <h2 >خدماتنا</h2>
  </div>

  <div class=" container">
  <div class="service card mb-3 light blue" >
    <div class="hover_color_bubble"></div>
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="assets/img/Autism-rafiki (1).svg" class="img-fluid " style="width: 200px;">
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center mt-4">
        <div class="card-body"style="height: 250px;">
          <h5 class="card-title">تقصي عن اضطراب تشتت الانتباه و فرط الحركة</h5>
          <div class="postcard__bar"></div>
          <p class="card-text">عن طريق تعمير استبيان من طرف الولي والمربي يصف سلوك الطفل ويمكن من تحديد امكانية وجود الاضطراب لديه</p>
          <button routerLink="abouttdahtest" type="button" class="btn2 py-2 px-3" style="vertical-align:middle">اضغط لمعرفةالمزيد<span></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="service2 card mb-3  light blue"  >
    <div class="hover_color_bubble2"></div>

    <div class="row g-0">

      <div class="col-md-8 d-flex justify-content-center  align-items-center mt-4">
        <div class="card-body" style="height: 250px;">
          <h5 class="card-title">تقصي عن التوحد</h5>
          <div class="postcard__bar"></div>
          <p class="card-text">عن طريق تعمير استبيان من طرف الأم والأب يصف سلوك الطفل ويمكن من تحديد امكانية وجود التوحد لديه</p>
          <button routerLink="aboutautismtest" type="button" class="btn2 py-2 px-3" style="vertical-align:middle">اضغط لمعرفةالمزيد<span></span></button>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="assets/img/Autism-bro.svg" class="img-fluid " alt="..." style="width: 200px;">
      </div>
    </div>
  </div>
</div>



