<div class="container mt-5">
  <div class="back d-flex justify-content-end ">
    <button routerLink="/public" >رجوع<i class="bi bi-arrow-return-left"></i></button>
  </div>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
        <div class="container">
            <div class="row clearfix">
              <div class="col-lg-4 col-md-12 right-box">

                <div class="card">
                    <div class="header">
                        <h2>المعلومات المقدمة</h2>
                    </div>
                    <div class="body widget popular-post mx-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_post ">
                <ul >
                  <li (click)="scrollToDiv('div1')" style="cursor: pointer;"><p class="text-primary text-decoration-underline" >ما التوحد؟</p></li>
                  <li (click)="scrollToDiv('div2')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">الخصائص الرئيسة للتوحد</p>   </li>
                  <li (click)="scrollToDiv('div3')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">الأمراض والعلامات المصاحبةللتوحد</p></li>
                  <li (click)="scrollToDiv('div4')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">كيف تمكن معالجة ومرافقة الشخص المصاب بالتوحد؟</p></li>
                  <li (click)="scrollToDiv('div5')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">المتابعة الطبية للأطفال المصابين بالتوحد</p></li>
                  <li (click)="scrollToDiv('div6')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">طرائق التكفل</p></li>
                  <li (click)="scrollToDiv('div7')" style="cursor: pointer;"><p class="text-primary text-decoration-underline">التدخلات السلوكية والتنموية الموصى بها</p></li>
                </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


                <div class="col-lg-8 ">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="assets\img\about test autism.png" alt="First slide">
                            </div>
                            <h5 class="mb-4 text-primary">يُمَكِّنُ تقصي اضطراب التوحد على مرحلتين:  </h5>
                            <p>1. تعمير استبيان من طرف الأب والأم يصف سلوك الطفل ويمكن من تحديد امكانية وجود الاضطراب لديه.</p>
                            <p>2. في حالة أظهر الاستبيان امكانية وجود الاضطراب لدى الطفل يقع فحصه من طرف طبيب نفسي للأطفال للتأكد من تشخيص الاضطراب و كذلك للمتابعة و العلاج  .</p>

                          </div>
                    </div>
                    <div id="div1" #div1Element class="card">
                            <div class="header">
                                <h4 class="text-primary">ما التوحد؟  </h4>
                            </div>
                            <div class="body">
                                <ul class="comment-reply list-unstyled">
                                    <li class="row clearfix">
                                        <div class="text-box  ">
<p>التوحد هو اضطراب في النمو العصبي، يمكن أن يظهر في وقت مبكر جدًّا من العمر. تختلف خصائصه من شخص لآخر و تستمر طوال الحياة .</p>
<p> يبدأ حتى قبل الولادة، بحيث تظهر علاماته الأولى في سن مبكرة جدًّا، حتى لو لم نراها دائمًا على الفور .</p>

                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>



                        <div id="div2" #div2Element class="card">
                          <div class="header">
                    <h4 class="text-primary">الخصائص الرئيسة للتوحد :</h4>
      </div>
                          <div class="body">
                              <ul class="comment-reply list-unstyled">
                                  <li class="row clearfix">
                                      <div class="text-box text-justify">
<p>يطلق على هذا المرض اضطراب طيف التوحد (TSA) لأن المصابون به لا تظهر عليهم نفس الخصائص بنفس الطريقة أو بنفس الشدة، حيث تقع كل خاصية في نقطة معينة من الطيف.</p>
<p class="mt-2">وتندرج خصائص التوحد في نوعين :</p>
<ul class="mt-2">
  <li style="list-style-type: square;  ">عجز عن التواصل والتفاعلات الاجتماعية .</li>
  <li style="list-style-type: square;  ">سلوكيات أو اهتمامات أو أنشطة محدودة ومتكررة .</li>
</ul>

<h5 class="mt-4">عجز عن التواصل والتفاعلات الاجتماعية</h5>
<p>- غالبًا ما يكون من الصعب تكوين علاقات مع الآخرين بالنسبة للأشخاص المصابين بالتوحد، كما يصعب عليهم التعبير عن مشاعرهم وفهم تعابير الوجه والتنبؤ بنيات الشخص الذي يحدثهم.</p>
<p>- ويُعدُّ تأخر الكلام ظاهرة شائعة عند الأطفال المصابين بالتوحد، وحتى بعد اكتساب الكلام، فهم يستعملونه على نحوٍ غير لائق عمومًا.</p>
<p>- ولكن، قلة التفاعلات لا تعني القليل من المشاعر، حيث يُمكن أن تتطابق التفاعلات الاجتماعية القليلة والسعي النادر لها أيضًا بشعور الشخص المصاب بالتوحد بالمودة العميقة والتعلق القوي.</p>
<h5 class="mt-4">سلوكيات أو اهتمامات أو أنشطة محدودة ومتكررة</h5>
<p>قد يقوم المصابون بالتوحد بأفعال متكررة للغاية، فهم يميلون إلى استعمال الأشياء بطرائق غير معتادة، ويظهر ذلك في روتين ثابت جدًّا في الحياة اليومية من خلال ألعاب وسلوكيات متكررة. كما أن لديهم ردود فعل حسية غير عادية: فهم يتفاعلون مع الصوت أو الضوء أو اللمس على نحوٍ مختلف، تكون شديدة جدًّا أو ضعيفة جدًّا.</p>

                                      </div>
                                  </li>


                              </ul>
                          </div>
                      </div>



                      <div id="div3" #div3Element class="card">
                        <div class="header">
                            <h4 class="text-primary"> الأمراض والعلامات المصاحبة للتوحد</h4>
                        </div>
                        <div class="body">
                            <ul class="comment-reply list-unstyled">
                                <li class="row clearfix">
                                    <div class="text-box  ">
<p>يمكن أن تصاحب التوحد مشكلات في النوم والتعلم والانتباه ومشكلات الاكتئاب والقلق، إذ يعاني ما بين 15 و30% من االاطفال …والمراهقينالمصابين باضطراب طيف التوحد من الصرع، ويعاني ما بين 30 إلى 50% من إعاقة ذهنية. وتعد هذه الأمراض مصاحبة للتوحد، وتسمى أيضًا الأمراض المزمنة.</p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>



                    <div id="div4" #div4Element class="card">
                      <div class="header">
                          <h4 class="text-primary">كيف تمكن معالجة ومرافقة الشخص المصاب بالتوحد؟                          </h4>
                      </div>
                      <div class="body">
                          <ul class="comment-reply list-unstyled">
                              <li class="row clearfix">
                                  <div class="text-box  ">
<p>لا يوجد حاليًّا علاج طبي محدد للتوحد ولكن الرعاية ممكنة، فهي تحسن من وضع المصاب بالتوحد ونوعية حياته مع المقربين منه واندماجه الاجتماعي.</p>                                  </div>
 <p>ونظرًا لأن للتوحد علامات ومميزات مختلفة حسب الأشخاص، فإن الرعاية تكون فردية وتتضمن العديد من المختصين. وبفضل التوصيات التعليمية، ينجح نحو نصف المصابين بالتوحد في بناء حياة اجتماعية عادية. </p>
<p>إذا تم اكتشاف علامات لدى طفلك أو أحد أفراد أسرتك، فمن الضروري التقدم للفحص الطبي لطلب تشخيص اضطرابات النمو العصبي التي يُعد التوحد جزءًا منها: هذه هي الخطوة الأولى للمسار التكفلي.

</p>

</li>


                          </ul>
                      </div>
                  </div>



                  <div id="div5" #div5Element class="card">
                    <div class="header">
                        <h4 class="text-primary">المتابعة الطبية للأطفال المصابين بالتوحد                        </h4>
                    </div>
                    <div class="body">
                        <ul class="comment-reply list-unstyled">
                            <li class="row clearfix">
                                <div class="text-box  ">
<p>يحتاج الطفل المصاب بالتوحد إلى مراقبة طبية كغيره من الأطفال: مراقبة النمو، ورزنامة التطعيم، والتكفل عند المرض، إلخ. ويوصى برصد نمو الطفل في إطار الرعاية الروتينية لصحة الأم والطفل. ومن الضروري أن يكون الأولياء والمرافقين أشد يقظة عندما يكون الطفل غير متمدرس بحيث تتعذر عليه الاستفادة من خدمات الصحة المدرسية.

</p>
</div>
</li>


                        </ul>
                    </div>
                </div>



                <div id="div6" #div6Element class="card">
                  <div class="header">
                      <h4 class="text-primary">طرائق التكفل</h4>
                  </div>
                  <div class="body">
                      <ul class="comment-reply list-unstyled">
                          <li class="row clearfix">
                              <div class="text-box  ">
<p>يعيش بعض الأشخاص المصابين بالتوحد بكل استقلالية، أما البعض الآخر فهم في حاجة إلى التكفل والمرافقة طوال حياتهم. والهدف من ذلك هو تعزيز النمو وتفادي الإعاقات الاضافية وكذا خلق ظروف معيشية ملائمة لرفاهية المصاب وعائلته.</p>
<p>ينبغي أن يكون التكفل شخصيًّا ومتعدد الأبعاد، لأن ذلك له تأثير مباشر على كل الأعراض المرافقة لاضطرابات طيف التوحد. ويشمل التكفل جملة من الفاعلين: الأسرة والأقارب، والأخصائيين الخواص، والمؤسسات الطبية والنفسية والاجتماعية،  كما يشمل ذلك بالأخص الوسط التربوي و / أو المهني للمصاب. لا يعد التكفل الحل المعجزة الذي سيشفي المصاب بالتوحد تماما، لكنه سيسمح بتحسين الأداء الاجتماعي والتواصل اللفظي وغير اللفظي للمصاب، ويعزز ذلك من تكوينه على المدى القصير ​ والطويل.

</p>
</div>
</li>


                      </ul>
                  </div>
              </div>



              <div id="div7" #div7Element class="card">
                <div class="header">
                    <h4 class="text-primary">التدخلات السلوكية والتنموية الموصى بها</h4>
                </div>
                <div class="body">
                    <ul class="comment-reply list-unstyled">
                        <li class="row clearfix">
                            <div class="text-box  ">
<p>يكون ذلك في ظروف ملائمة (في المنزل أو في منشأة متخصصة) وبتنشيط جلسات متكررة (فردية أو ضمن مجموعات)، بحيث تساعد هذه التدخلات السلوكية والتنموية الأطفال على تطوير مهاراتهم والانفتاح على الآخرين. كما أنها تعمل على تحسين الظروف المعيشية لجميع أفراد الأسرة، فهي تحد من بروز مظاهر عجز أخرى. العديد من التدخلات موصى بها من قبل السلطات الصحية. هذه الأساليب يقررها وينفذها متخصصون مؤهلون مرخصون لممارستها:</p>
<ul class="mt-3">
<li style="list-style-type: square;  ">تدعو ABA (تحليل السلوك التطبيقي) إلى تطبيق القوانين العلمية للتعلم من أجل خلق السلوكيات أو تغييرها؛</li>
<li style="list-style-type: square;  ">ينظم TED (علاج التبادل والتطوير) جلسات اللعب بحيث يتم البحث عن المتعة المشتركة. والهدف هنا هو تطوير الوظائف الأساسية التي تسمح بتحفيز التواصل الاجتماعي؛</li>
<li style="list-style-type: square;  ">يعتمد برنامج TEACCH (علاج وتعليم الأطفال المتوحدين وذوي الإعاقات اللفظية) على تنظيم بيئة ممنهجة باستخدام شتى الوسائل البصرية (الصور والرسومات والبيانات التوضيحية) المستخدمة لتسهيل تحديد التوقيت، كدعم للتواصل وكوسيلة تسهل إنجاز الأنشطة؛</li>
<li style="list-style-type: square;  ">يهدف تدخل دنفر المبكر إلى تطوير التواصل اللفظي وغير اللفظي، والتقليد، والانتباه، والمشاركة، من خلال الأنشطة المرحة التي يشارك فيها أيضا الأولياء، وهذا باستخدام تقنيات مشتقة من تحليل السلوك التطبيقي (ABA).</li>
</ul>
<h5 class="d-flex justify-content-center mt-4" style="color: rgb(255, 94, 0);">لا يوجد علاج طبي شافٍ حاليًّا</h5>
<p>لا يسمح بوصف أدوية المؤثرات العقلية إلا في الحالات القصوى، كمواجهة الاضطرابات السلوكية الشديدة والمقاومة لجميع العلاجات. فعند الأطفال مثلا، تُوضع الوصفات الطبية غالبًا في سياق الأمراض المرتبطة بالتوحد (اضطرابات النوم، والصرع، وما إلى ذلك) ولا ينبغي بأي حال من الأحوال أن توصف على أنها “علاج ضد التوحد”.

</p>


</div>
</li>


                    </ul>
                </div>
            </div>



                </div>
            </div>

        </div>
    </div>
