/* You can add global styles to this file, and also import other style files */
 @import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

    * {
      margin: 0;
      padding: 0;
      font-family: "Droid Arabic Kufi", sans-serif;
    }

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background: #d6d6d6;
      border-radius: 6px;
    }
