<section class=" h-custom gradient-custom-2 d-flex justify-content-center mb-5">
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card-registration card-registration-2" style="border-radius: 30px;">

          <h3 class="fw-normal mb-4 mt-4 text-center" style="color: #588ADB;">إستبيان
            خاص {{type_user === 'parent' ? 'بالأولياء' : 'بالمربين و المربيات'}}</h3>
          <h6 class="mb-4 mt-4 text-center">هذا الإستبيان يحتوي على {{type_user === 'parent' ? 3 : 2}} صفحات </h6>


          <div class="container" [formGroup]="formGroup" id="form">
            <div class=" row justify-content-center text-justify">


              <div *ngFor="let question of questions" class="quest card mb-3  ml-3  pb-3  ">
                <div class="bg-light px-3 mb-3">
                  <h6 class="py-3 text-center "> {{question.id + '- ' + question.label }}</h6>
                </div>
                <div class="d-flex flex-row justify-content-center ">
                  <div class="reponse row d-flex flex-column  ">
                    <div class="card-text  ">
                      <input class="form-check-input " id="response{{question.id}}1" [name]="question.formControlName"
                             type="radio" value="never" [formControlName]="question.formControlName"/>
                      <label class="form-check-label text-black mr-3" for="response{{question.id}}1">أبدا</label>
                    </div>
                    <div class="often card-text ">
                      <input class="form-check-input" id="response{{question.id}}3" [name]="question.formControlName"
                             type="radio" value="usual" [formControlName]="question.formControlName"/>
                      <label class="form-check-label text-black mr-3" for="response{{question.id}}3">كثيرا</label>
                    </div>

                  </div>
                  <div class="reponse row d-flex flex-column mr-5">
                    <div class="card-text ">
                      <input class="form-check-input  " id="response{{question.id}}2" [name]="question.formControlName"
                             type="radio" value="sometimes" [formControlName]="question.formControlName"/>
                      <label class="form-check-label text-black mr-3" for="response{{question.id}}2">قليلا</label>
                    </div>
                    <div class="always card-text ">
                      <input class="form-check-input  " id="response{{question.id}}4" [name]="question.formControlName"
                             type="radio" value="always" [formControlName]="question.formControlName"/>
                      <label class="form-check-label text-black mr-3" for="response{{question.id}}4">كثيرا جدا</label>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="next d-flex justify-content-end ml-5">
            <button [disabled]="formGroup.invalid" type="submit" (click)=" submit($event)" class=" btn-light my-4 ">
              التالي<i class="bi bi-caret-left-fill mr-1"></i></button>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
